@font-face {
    font-family: font_1;
    src: url("../fonts/AlongSanss2-Regular.otf");
}
@font-face {
    font-family: font_2;
    src: url("../fonts/HANSON\ HAIRLINE.otf");
}
@font-face {
    font-family: font_3;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: font_4;
    src: url("../fonts/Zefani_Uppercase_Demo-Regular.otf");
}
@font-face {
    font-family: font_5;
    src: url("../fonts/Zanna\ -\ Regular\ Personal\ Use.otf");
}
@font-face {
    font-family: font_6;
    src: url("../fonts/Audrey-Normal.otf");
}
@font-face {
    font-family: font_7;
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}





*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(14, 4, 34);
}
body{
    position: relative;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    transition: all ease 0.25s;
    width: 7.5px;
}
body::-webkit-scrollbar-track{
    background-color: rgb(14, 4, 34);
    transition: all ease 0.25s;
}
body::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #723b90;
    transition: all ease 0.25s;
}

.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.row_rev{
    display: flex;
    flex-direction: row-reverse;
}
.col.page{
    height: auto;
    row-gap: 150px;
    padding-bottom: 100px;
}
#evelien{
    background-image: url("../pics/pic4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#stan{
    background-image: url("../pics/pic5.png");
    background-repeat: no-repeat;
    background-size: cover;
}
img, a, h1, h2{
    user-select: none;
    -webkit-user-drag: none;
}

.css-back1{
    position: absolute;
    width: 100%;
    height: 60vh;
    background-image: url("../pics/pic1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}
.css-cont1{
    flex: none;
    width: 80%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 5%;
    z-index: 1;
}
    .css-head1{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
    }
        .css-head1 img{
            width: 90%;
            padding: 30px;
            /* backdrop-filter: blur(5px); */
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.597), transparent);
        }
    .css-head2{
        flex: 1.5;
    }
        .css-back2{
            flex: 2;
            height: 100%;
            background-image: url("../pics/pic1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            position: relative;
        }
            .css-back2 h2, .css-back2 p{
                color: white;
                font-family: font_3;
                font-weight: 300;
                position: absolute;
                padding: 15px;
                backdrop-filter: blur(5px);
            }
            .css-back2 h2{
                font-size: 20px;
                top: 45%;
                padding: 10px;
                padding-left: 25px;
                background-color: rgba(255, 255, 255, 0.2);
            }
            .css-back2 p{
                font-size: 15px;
                top: 60%;
                background-color: rgba(255, 255, 255, 0.2);
                user-select: none;
                -webkit-user-drag: none;
            }
        .css-pagehead{
            flex: 1;
            height: 100%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: linear-gradient(193deg, wheat, white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .css-pagehead h2, .css-pagehead p{
                color: white;
            }
                .css-pagehead span{
                    align-items: center;
                    justify-content: center;
                    backdrop-filter: blur(10px);
                    padding: 5px;
                }
                    .css-pagehead h2{
                        font-size: 22px;
                        font-family: font_5;
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
                    }
                    .css-pagehead p{
                        font-size: 14px;
                        font-family: font_3;
                        color: #2e2e2e;
                        user-select: none;
                        -webkit-user-drag: none;
                    }
            .css-pagehead a{
                margin-top: 10%;
                text-decoration: none;
                font-size: 17px;
                font-family: font_7;
                color: white;
                padding: 15px;
                background-color: rgb(124, 30, 124);
                border-radius: 10px;
                transition: all ease 0.40s;
            }
            .css-pagehead a:hover{
                opacity: 0.8;
                transition: all ease 0.40s;
                background-color: rgb(63, 30, 124);
                text-decoration: underline;
            }

.css-cont2, .css-cont3, .css-cont4, .css-cont5{
    flex: none;
    width: 95%;
    height: auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    transition: all ease 1.65s;
}
.css-cont2{
    transform: translateX(-100%);
    margin-right: auto;
    border-right: 1px solid white;
}
    .css-cont2 a, .css-cont4 a{
        top: 0;
        right: 20px;
    }
    .css-cont2 .css-deco{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 70%;
        opacity: 0.6;
        z-index: -1;
        filter: blur(3px);
    }
    .css-cont2 .right{
        padding-left: 7.5%;
    }
    .css-cont2 .css-details{
        flex: 1.5;
        height: 100%;
        row-gap: 20px;
    }
        .css-details span{
            width: 100%;
            column-gap: 10px;
            padding: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.401);
        }
            .css-cont2 span div#evelien, .css-cont2 span div#stan {
                width: 230px;
                height: 230px;
                border-radius: 50%;
            }
            .css-cont2 span div.css-text{
                height: auto;
                width: 70%;
                background-color: wheat;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                overflow-y: auto;
            }
                .css-cont2 span div p{
                    font-family: font_3;
                    font-weight: 300;
                    color: #2e2e2e;
                    font-size: 18px;
                    padding: 10px;
                    height: auto;
                    width: 70%;
                    text-align: justify;
                }
    .css-cont2 h2, .css-cont3 h2, .css-cont4 h2, .css-cont5 h2{
        flex: 1;
        font-family: font_7;
        font-weight: 400;
        color: rgb(198, 47, 47);
        color: white;
        font-size: 50px;
        text-align: center;
    }
    .css-cont2 a, .css-cont3 a, .css-cont4 a, .css-cont5 a{
        position: absolute;
        filter: invert();
        width: 30px;
        opacity: 0.6;
        transition: all ease .5s;
    }
    .css-cont2 a:hover, .css-cont3 a:hover, .css-cont4 a:hover, .css-cont5 a:hover{
        opacity: 1;
        transition: all ease .5s;
    }
.css-cont3{
    margin-left: auto;
    border-left: 1px solid white;
    transform: translateX(-100%);
}
    .css-cont3 a{
        top: 0;
        left: 20px;
    }
    .css-cont3 .css-deco{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 35%;
        opacity: 0.6;
        z-index: -1;
        filter: blur(3px);
    }
    .css-cont3 .css-details{
        flex: 1.5;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .css-cont3 img{
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
.css-cont4{
    height: auto;
    margin-right: auto;
    border-right: 1px solid white;
    transform: translateX(-100%);
}
    .css-cont4 .css-deco{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 35%;
        opacity: 0.6;
        z-index: -1;
        filter: blur(3px);
    }
    .css-cont4 .css-details{
        flex: 1.5;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .css-cont4 img{
        width: 100%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
.css-cont5{
    margin-left: auto;
    border-left: 1px solid white;
    transform: translateX(-100%);
}
    .css-cont5 a{
        top: 0;
        left: 20px;
    }
    .css-cont5 .css-deco{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 35%;
        opacity: 0.6;
        z-index: -1;
        filter: blur(3px);
    }
    .css-cont5 .css-details{
        flex: 1.5;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .css-cont5 img{
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        max-height: 90vh;
    }